<%-include('partials/header.ejs')%>

    <link rel="stylesheet" href="/css/product/banana.css"> 

    <script src="/js/navbar.js"></script>

    <!-- Handle back-end -->
    <script defer src="/js/products/cart.js"></script>

</head>
    <body>
        <div class= "container">
            <%-include('partials/nav-bar.ejs')%>
              
            <div class ="products-container">
                
                <div class="nutritional-facts">
                    <p>Calories                    
                        <% for (let i = 0; i < 6; i++) { %>
                         <%=    %>&nbsp;&nbsp;&nbsp;
                    <% } %>
                    <span id="calories">250</span>kcal</p>
                    <p>Total fat
                        <% for (let i = 0; i < 6; i++) { %>
                            <%=    %>&nbsp;&nbsp;&nbsp;
                       <% } %>
                    <span id="fat">20</span>g</p>
                    <p>Protein
                        <% for (let i = 0; i < 5; i++) { %>
                        <%=    %>&nbsp;&nbsp;&nbsp;&nbsp;
                   <% } %> <span id="protein">25</span>g</p>
                </div>
                <img src="/assets/banana.png" class="product-image">
                <div class = "product-information-container">
                    <h3 class ="product-name" id="product_name"> freshly harvested banana</h3>
                    <p class = "product-description">Try this freshly harvested banana, best served on its own. <br> Store it in cool dry place to keep fresh!</p>
                    <div class="quantity-container">
                        <h4 class ="product-quantity">quantity: <span id="quantity">0</span> </h4>
                        <div class="operations">
                            <img src="/assets/minus.png" class="minus" id="subtract">
                            <img src="/assets/plus.png" class="plus" id="add">

                        </div>
                    </div>
                    
                    <button id="add-to-cart">Add to cart!</button>
                </div>
        </div>
</body>
</html>